$color-main: #fff;
$color-icon-hover: #cfcfcf;
$bg-chat-body: #080808;
$bg-dark: #111;
$nero: #151515;
$steel-grey: #43464b;
$turn-true-color: #777;
$turn-false-color: #282828;

@mixin icon-hover {
  &:hover {
    color: $color-icon-hover;
    cursor: pointer;
  }
}

.bg-dark {
  background-color: $bg-dark;
}

.chat-toggle {
  position: absolute;
  bottom: 1rem;

  > path {
    @include icon-hover;
  }
}

.chat {
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: transform 250ms linear;

  .chat-icon-container {
    @include icon-hover;
    width: 1.5rem;
    color: $steel-grey;
  }

  > .chat-body {
    flex-grow: 1;
    background-color: $bg-chat-body;
  }

  > textarea {
    flex: 0 0 2.75rem;
    border-color: $steel-grey;
    resize: none;
  }
}

.timer {
  position: absolute;
  top: 5%;
  right: 5%;
}

.player {
  max-width: 16rem;
  min-height: 8rem;

  box-shadow: 0 0 1rem $nero;

  .player-icon {
    position: absolute;
    top: -0.75rem;
    right: -0.5rem;
  }

  &[data-turn="true"] {
    background-color: $turn-true-color;
  }

  &[data-turn="false"] {
    background-color: $turn-false-color;
  }

  &[data-eliminated="true"] {
    background-color: $nero;

    :last-child {
      opacity: 0.25;
    }
  }
}

.btn-action {
  min-width: 7.5rem;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .chat-toggle {
    z-index: 1;
    left: 3rem;
    top: 1.5rem;
  }

  .chat {
    width: 20%;
  }

  #table {
    min-height: 50vh;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #table {
    &[data-num-players="4"] {
      height: 55vh;
    }

    &[data-num-players="6"] {
      height: 60vh;
    }

    .bottom-1x {
      bottom: 2.5rem;
    }

    .bottom-2x {
      bottom: 5rem;
    }

    .bottom-3x {
      bottom: 7.5rem;
    }

    .bottom-4x {
      bottom: 10rem;
    }

    .right {
      right: 7.5rem;
    }

    .left {
      left: 7.5rem;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
